@use '../../../styles/colors' as colors;
@use '../../../styles/constants' as constants;

.standard-page {
  .page-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  .right-side-bar {
    display: flex;
    height: 100%;
    width: 13.625rem;
    position: absolute;
    top: 0;
    right: 0;

    .divider {
      display: inline-block;
      width: 1px;
      height: 100%;
      background: black;
      margin: 0 10px;
    }
  }
}